@use "sass:math";
@import "../pages/_utils.scss";

.Gallery {
  $content-size: 1100px;
  $content-size-mobile: 500px;

  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;

  :global {
    .age-gate-modal {
      .box {
        background-color: #FFF;
        color: #000;
      }

      .age-gate-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
      }
    }

    .g-top {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      justify-content: space-between;
      gap: 20px;
      max-width: $content-size-mobile;

      @include desktop {
        gap: 100px;
        max-width: $content-size;
      }

      .g-filters {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        gap: 20px;
        text-align: right;
        
        h3 {
          font-size: 20px;
          margin: 0;
          margin-bottom: 5px;
          font-family: $poppins;
        }
      }

      .g-filters-tags {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: stretch;
        flex-wrap: wrap;
        max-width: 400px;
        gap: 5px;
      }


      .g-top-content {
        max-width: 600px;

        h2 {
          margin-top: 0;
        }
      }
    }

    .g-filter-status {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;

      p {
        margin: 0;
      }

      code {
        background-color: #999;
        padding: 2px 5px;
      }
    }

    .g-items {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      gap: 50px;

      @include desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px; 
      }

      @include bigger {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-column-gap: 50px;
        grid-row-gap: 50px; 
      }

    }
  }
}
