@use "sass:math";
@import "../pages/_utils.scss";

.site {
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;

  :global {
    $between-content: 70px;
    $content-size: 1100px;
    $content-size-mobile: 500px;
    $gallery-size: 1300px;
    $gallery-size-mobile: 700px;

    .middle-content {
      max-width: $content-size-mobile;
      margin: 0 auto;
      padding: 20px;

      @include desktop {
        max-width: $content-size;
      }
    }

    .middle-content.gallery-group {
      max-width: $gallery-size-mobile;
      @include desktop {
        max-width: $gallery-size;
      }
    }

    .about-clip {
      overflow: hidden;
    }
    .about-group {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: $between-content;
      min-height: 80vh;
      gap: 60px;


      @include desktop {
        gap: 100px;
        flex-direction: row;

        @supports not (gap: 100px) {
          > *:nth-child(n+2) {
            margin-right: 100px;
          }
        }
      }

      > * {
        max-width: $content-size-mobile;
        flex: 1 1 50%;
      }

      h1 {
        margin-bottom: 30px;
        font-size: 45px;
        text-wrap: nowrap;

        @include desktop {
          font-size: 80px;
        }
      }

      font-size: 18px;
      @include desktop {
        font-size: 20px;
      }

      .link {
        .icon {
          margin-right: 10px;
        }
      }

      .about-content {
        position: relative;
        z-index: 2;
        padding: 20px;
        margin-right: 40px;

        @include desktop {
          padding: 0;
        }

        p > span {
          display: inline-block;
          background-color: $scheme-main;
          @include desktop {
            background-color: transparent;
          }
        }
      }

      .figure {
        position: relative;
        flex: 0 0 auto;

        position: absolute;
        right: 0;
        translate: 50%; 

        @include desktop {
          display: block;
          translate: 0;
          position: static;
        }

        svg {
          position: absolute;
          z-index: 2;
          color: #FFF;
          opacity: 80%;
          mix-blend-mode: difference;
          & :local {
            animation: 4s infinite slidein;
          }
        }

        svg:nth-child(1) {
          width: 100px;
          left: 20px;
          top: 20px;
          animation-delay: 1s;
          animation-duration: 7s;
        }
        svg:nth-child(2) {
          width: 180px;
          left: -40px;
          top: 50%;
          animation-delay: 4s;
          animation-duration: 10s;
        }
        svg:nth-child(3) {
          width: 120px;
          left: 40%;
          top: 80%;
          animation-delay: 2s;
          animation-duration: 8s;
        }

        img {
          filter: blur(1px);
        }
      }
    }

    footer {
      margin: 0 auto;
      text-align: center;
      font-size: 0.7em;
    }
  }
}

@keyframes slidein {
  0% {
    translate: 0 0;
    scale: 100%;
    rotate: 5deg;
  }

  50% {
    translate: 20px 0;
    scale: 110%;
    rotate: 10deg;
  }

  100% {
    translate: 0px 0;
    scale: 100%;
    rotate: 5deg;
  }
}
